

body {
  background-image: url('/public/images/261-2617153_wallpaper-linear-brown-yellow-gradient-sandy-brown-light.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;

}
.App{
  margin: 1% ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace,sans-serif;
}



