.check{
    height: 60px;
    margin-right: 8%;
}
.order-modal{
    font-size: 19px;
    font-weight: 700;
    font-family: "Roboto",sans-serif;
}
.order-btn{
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboot",sans-serif;
    border: none;
    border-radius: 6px;
    background-color: rgb(90, 200, 200);
    color: rgb(237 245 245);
}
.order-btn:hover{
    background-color: rgb(131 213 213);
}