.cart{
    background-image: url("/public/images/seamless-pattern-books-vintage-32913261.jpg") ;
    display: flex;
    flex-direction: column;
    margin-top: 0.5%;
    border-radius: 6px;
    font-family: "Roboto",sans-serif;
}
.orders{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 40px;
    row-gap: 50px;

}

.cart-container{
    
    margin: 2% 5%;
    padding:2% 5%;
    background-color: rgb(181 179 170);
    box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
    border-radius: 6px;
}
.cart-container h4{
    margin-bottom: 2.5%;
    font-size: 40px;
    font-weight: 900;
    color: rgba(0,0,0,.55);
}
.cart-container h2{
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(237 245 245);
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
    text-shadow: 2px 2px 8px #7b8369;
    border-radius: 6px;
    padding: 2%;
    text-align: center;
}
.cart-container h2 a{
    color: #c98055;
    text-decoration: none;
    
}
.cart-container h3 {
    margin-top: 2%;
    font-weight: bold;
}

