.offer-card {
    font-family: "Roboto", sans-serif;
    width: min-content;
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: whitesmoke;
    border-radius: 6px;
}

.offer-card img {
    height: 250px;
    width: 180px;
    margin-bottom: 5%;
}

.offer-opt {
    display: contents;
}

.offer-opt a {
    color:rgb(90, 200, 200);
    font-size: larger;
    font-weight: 800;
    margin-bottom: 3%;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.offer-opt a:hover{
    background-color: rgb(90, 200, 200);
    color: white;
}

.del-modal{
    font-size: 20px;
    font-weight: 600;
}
.del-modal span{
    font-size: 20px;
    font-weight: 800;
}

.del-btn{
    font-size: larger;
    font-weight: 800;
    border-radius: 2px;
    color: red;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.del-btn:hover{
    background-color: red;
    color: white;
}