
.com-body {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.com-area {
    width: 250px;
    border: none;
    border-radius: 6px;
    margin-bottom: 2%;
    box-shadow: rgb(99 86 86 / 35%) 0px 5px 15px;
}

.com-area:focus {
    outline: none;
}

.btn-add-com {
    border: none;
    border-radius: 6px;
    font-size: 20px;
    background-color: rgb(179, 187, 187);
    font-family: "Roboto", sans-serif;
    margin-bottom: 1%;
}