.comment {
    border-bottom: 1px solid;
    border-color: #8bb3b7;
    ;
    font-family: "Roboto", sans-serif;
}

.comment:nth-child(even) {
    background: rgb(225 215 205 / 32%);
}

.com-text {
    margin-bottom: 1%;
    font-size: 20px;
}

.com-user {
    margin-bottom: 0%;
}